*{
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.contenedor{
    max-width: 500px;
    margin: auto;
}

h1{
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.g-tags-input{
    margin-bottom: 15px;
}

.g-tags-input label{
    font-size: 15px;
    color: #575353;
    margin-bottom: 5px;
}

.tags-input{
    padding: 10px;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tags-input input{
    background: transparent;
    outline: 0;
    color: #575353;
    border: none;
    flex: 1;
}

.tags-input .tag {
    padding: 5px 10px;
    margin: 3px;
    border-radius: 25px;
    font-size: 13px;
}

.tags-input .tag [data-close="cerrar"]{
    cursor: pointer;
    margin-left: 8px;
}

.tag-color{
    color: #0091CD;
    background: rgba(0, 145, 205, .2);
}

.btn{
    background: green;
    color: #ffffff;
    padding: 14px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}